/* 
    Created on : May 8, 2017, 12:47:49 PM
    Author     : Candice
*/

body {
    background-color: #00b1dd;
    font-family: 'Poppins', Helvetica, Arial, Sans-Serif;
    font-size: 16px;
}

p {
    margin: 0;
}
a {
    color: #6c6c6c;
}

h1, .title-text {
    font-family: 'Raleway', Helvetica, Arial, Sans-Serif;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #585858;
}
.item a {
    text-decoration: none;
}
.item a:hover {
    font-weight: bold;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

h1 {
    color: #fff;
}

.header {
    margin-top: 50px;
}

input#query-field {
    max-width: 95%;
    margin: 0 auto 15px;
}

input#submit-button {
    font-variant: small-caps;
    font-size: 20px;
    padding: 2px 15px;
}

#random, .footer {
    color: #fff;
    text-align: center;
}

.form-group {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form-group .row {
    margin-bottom: 15px;
}

.btn {
    background-color: #f9b631;
    color: #fff;
}
.btn:hover {
  color: #fff;
  background-color: #f5cb77;
}
.btn:hover, .btn:focus, .btn.focus, .btn:active, .btn.active {
  color: #fff;
}
#display {
    background-color: #e9e9e9;
}
.item {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 20px 30px;
}

.title-text {
    font-size: 20px;
}

.footer {
    padding: 25px 0;
    font-size: 14px;
}

.footer a {
    color: #fff;
        text-decoration: underline;
}